{% extends "layout.html" %}
{% block body %}
<div id="new_message" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>New User</h3>
  </div>
  <div class="modal-body">
    <form method='post' action="/admin">
      <dl>
        <label for='user'>Name</label>
        <input type="text" id='user' name="user">
        <label for='email'>Email</label>
        <input type="text" id='email' name="email">
        <label for='pass'>Password</label>
        <input type="password" id='pass' name="pass">
        <label for='role'>Role</label>
        <select id="role" name="role" size="5" tabindex="4">
          <option value="admin">Administrator</option>
          <option value="user">User</option>
        </select>
      </dl>
      <p>
        <input type='submit' value='Save'></form>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>

<div class='row-fluid'>
  <div>
    <div id='subject row' class='header'>
      <h3>Subjects for Library: {{ the_library }}</h3>
    </div>
    <div>
    <form action="/adminsubject" id="save" method="post">
      New Subject:
      <input type="text" class='fixer' name="subject">
      <input type="hidden" value='True' name="new_subject">
      <input type="hidden" name="no" value="0">
      <input type="hidden" name="choice_no" value="0">
      <input id="library" type="hidden" name='library' value="{{the_library}}">
      <input type="hidden" name="metatag" value="notag">
      <input name="save" type="submit" value="Save" />
    </form>
    </div>
    <div class="row-fluid">
      <div class="span8">
        {%for subject in subjects %}
        {% for library in subject.libraries %}
            {% if the_library == library.name %}
    {% if subject.metatag == False %}
<script type="text/javascript">
function subjectWarningDialog{{ subject.id }}()
{
var x;
var r=confirm("Do you really want to delete this subject?");
if (r==true)
  {
  jQuery("#topsub{{ subject.id }}").submit();
  }
else
  {
  x="!";
  }
}

$(document).ready(function() {
jQuery("#showtopsubject{{subject.id}}").hide();
jQuery("#showtopsubjecta{{subject.id}}").hide();

$('#topsubclick{{subject.id}}').click(function() {
    subjectWarningDialog{{ subject.id }}();
});
$('#editsubjecttop{{subject.id}}').click(function() {
    jQuery("#showtopsubject{{subject.id}}").toggle();
    jQuery("#showtopsubjecta{{subject.id}}").toggle();
});
});
</script>
        <div class="span6" id='subject'>
          <form action="/admindelete" id="topsub{{subject.id}}" method="post">
            <input type="hidden" name="no" value="{{subject.id}}">
            <input type="hidden" name="table" value="subject">
            <div class="header">
              <h3>
                {{ subject.name }}
                <a name="delete" title="Delete" class='popup' href=# id='topsubclick{{subject.id}}'><i class='icon-trash icon-large'></i></a>
            <a href='javascript:void(0)' id='editsubjecttop{{subject.id}}' title="Edit" class='popup'><i class='icon-wrench icon-large'></i></a></h3>
            </form>
          </div>
            <form action="/adminsubject" id="topsubub{{subject.id}}" class='form form-inline' method="post">
              <input type="hidden" name="no" value="{{subject.id}}">
              <input type="hidden" name="choice_no" value="0">
              <input type="hidden" name="library" value="{{the_library}}">
              <input type="hidden" value='False' name="new_subject">
              <input type="hidden" name="metatag" value="notag">
              <input type="text" name="subject" id='showtopsubject{{subject.id}}' value="{{subject.name}}">
              <input name="save" type="submit" value="Save" id='showtopsubjecta{{subject.id}}' class="btn btn-success" />
            </form>
          <form action="/adminnewchoice" id="save" method="post">
            New {{ subject.name }}:
            <input type="text" name="choice">
            <input type="hidden" name="subject_id" value="{{subject.id}}">
            <input type="hidden" name="new_choice" value="True">
            <input type="hidden" name="subject" value="{{ subject.name }}">
            <input type="hidden" name="metatag" value="notag">
            <input name="save" type="submit" value="Save" />
          </form>
          <ul class="unstyled">
            {%for choice in subject.choices %}
<script type="text/javascript">
$(document).ready(function() {
jQuery("#showsubchoice{{choice.id}}").hide();
jQuery("#showsubchoicea{{choice.id}}").hide();
$('#choiceclick{{choice.id}}').click(function() {
jQuery("#choice{{ choice.id }}").submit();
});
$('#editsubchoice{{choice.id}}').click(function() {
jQuery("#showsubchoice{{choice.id}}").toggle();
jQuery("#showsubchoicea{{choice.id}}").toggle();
});
});
</script>

            <form action="/admindelete" id="choice{{ choice.id }}" method="post">
              <input type="hidden" name="no" value="{{choice.id}}">
              <input type="hidden" name="table" value="tag">
              <li>
                {{choice.choice}}
                <a name="delete" class='popup' title='Delete' href=# id='choiceclick{{choice.id}}'><i class='icon-trash icon-large'></i></a>&nbsp;&nbsp;&nbsp;
            <a href='javascript:void(0)' title="Edit" class='popup' id='editsubchoice{{choice.id}}'><i class='icon-wrench icon-large'></i></a></li>
            </form>
            <form action="/adminnewchoice" id="editsubchoice{{choice.id}}" class='form form-inline' method="post">
              <input type="hidden" name="no" value="{{choice.id}}">
              <input type="hidden" name="subject_id" value="{{choice.subject.id}}">
              <input type="hidden" value='False' name="new_choice">
              <input type="text" name="choice" id='showsubchoice{{choice.id}}' value="{{ choice.choice }}">
              <input name="save" type="submit" value="Save" id='showsubchoicea{{choice.id}}' class="btn btn-success" />
            </form>
            {%endfor%}
          </ul>
        </div>
        {%endif%}
        {%endif%}
    {%endfor%}
    {%endfor%}
      </div>

      <div class="span4">
        <div>
          <div class="header">
            <h3>Metatags</h3>
          </div>
          <p></p>
          <form action="/adminsubject" id="save" method="post">
            New Master Tag:
            <input type="text" name="subject">
            <input type="hidden" name="no" value="0">
            <input type="hidden" value='True' name="new_subject">
            <input type="hidden" name="choice_no" value="0">
            <input id="library" type="hidden" name='library' value="{{the_library}}">
            <input type="hidden" name="metatag" value="tag">
            <input name="save" type="submit" value="Save" />
          </form>
          <form action="/adminnewchoice" id="save" method="post">
            New Sub Tag:
            <input type="text" name="choice">
            <input type="hidden" value='True' name="new_choice">
            <input type="hidden" name="no" value="0">
            <br />
            Sub of:
            <select name="subject_id">
              {%for subject in subjects %}
              {%for choice in subject.choices %}
          {% if choice.metatag == True %}
              <option value="{{choice.subject.id}}">{{choice.choice}}</option>
              {%endif%}
          {%endfor%}
          {%endfor%}
            </select>
            <input name="save" type="submit" value="Save" />
          </form>
          <dl>
            {%for subject in subjects %}
            {%for choice in subject.choices %}
        {% if choice.metatag == True %}
        
<script type="text/javascript">
$(document).ready(function() {
  jQuery("#showmysubject{{subject.id}}").hide();
  jQuery("#showmysubjectanother{{subject.id}}").hide();
$('#subjectsubclick{{subject.id}}').click(function() {
jQuery("#subsubject{{ subject.id }}").submit();
});
$('#editsubjecta{{subject.id}}').click(function() {
jQuery("#showmysubject{{subject.id}}").toggle();
jQuery("#showmysubjectanother{{subject.id}}").toggle();
});
});
</script>

            <form action="/admindelete" id="subsubject{{ subject.id }}" method="post">
              <dt class="unstyled"> <i class="icon-tags icon-large"></i>
                {{choice.choice}}
                <input type="hidden" name="table" value="subject">
                <input type="hidden" name="no" value="{{subject.id}}">
                <a name="delete" title="Delete" class='popup' href=# id='subjectsubclick{{subject.id}}'><i class='icon-trash'></i></a>&nbsp;&nbsp;&nbsp;
              <a href='javascript:void(0)' id='editsubjecta{{subject.id}}' title="Edit" class='popup'><i class='icon-wrench icon-large'></i></a></li>
            </form>
            
            <form action="/adminsubject" id="editsubject{{subject.id}}" class='form form-inline' method="post">
              <input type="hidden" name="no" value="{{subject.id}}">
              <input type="hidden" name='library' value="{{the_library}}">
              <input type="hidden" name="metatag" value="tag">
              <input type="hidden" name="choice_no" value="{{choice.id}}">
              <input type="hidden" value='False' name="new_subject">
              <input type="text" name="subject" id='showmysubject{{subject.id}}' value="{{ subject.name }}">
              <input name="save" type="submit" value="Save" id='showmysubjectanother{{subject.id}}' class="btn btn-success" />
            </form>
            </dt>
            {%for choice in subject.choices %}
        {% if choice.metatag == False %}
            <dd>
              <form action="/admindelete" class="form-inline" id="subsub{{ choice.id }}" method="post"> <i class="icon-tag icon-large"></i>
                {{choice.choice}}
                <input type="hidden" name="no" value="{{choice.id}}">
                <input type="hidden" name="table" value="Choice">
                <a name="delete" href=# title="Delete" class='popup' id='subsubclick{{choice.id}}'><i class='icon-trash icon-large'></i></a>&nbsp;&nbsp;&nbsp;
              <a href='javascript:void(0)' id='editchoice{{choice.id}}' title="Edit" class='popup'><i class='icon-wrench icon-large'></i></a></li>
            </form>
            <form action="/adminnewchoice" id="editchoice{{choice.id}}" class='form form-inline' method="post">
              <input type="hidden" name="no" value="{{choice.id}}">
              <input type="hidden" name="subject_id" value="{{choice.subject.id}}">
              <input type="hidden" value='False' name="new_choice">
              <input type="text" name="choice" id='showmychoice{{choice.id}}' value="{{ choice.choice }}">
              <input name="save" type="submit" value="Save" id='showmychoiceanother{{choice.id}}' class="btn btn-success" />
            </form>
            </dd>

            <script type="text/javascript">
$(document).ready(function() {
  jQuery("#showmychoice{{choice.id}}").hide();
  jQuery("#showmychoiceanother{{choice.id}}").hide();
$('#subsubclick{{choice.id}}').click(function() {
jQuery("#subsub{{ choice.id }}").submit();
});
$('#editchoice{{choice.id}}').click(function() {
jQuery("#showmychoice{{choice.id}}").toggle();
jQuery("#showmychoiceanother{{choice.id}}").toggle();
});
});
</script>
            {%endif%}
        {%endfor%}
        {%endif%}
      {%endfor%}
      {%endfor%}
          </dl>
        </div>
        <div>
          <div class="header">
            <h3>Libraries</h3>
          </div>
          <p></p>
          <form action="/library" method="post">
            New Library:
            <input type="text" name="library">
            <input type="hidden" name="no" value="0">
            <input type="hidden" value='True' name="new_library">
            <input name="save" type="submit" value="Save" />
          </form>
<div>
            {%for library in libraries %}
<script type="text/javascript">
function warningDialog()
{
var x;
var r=confirm("Do you really want to delete this location?");
if (r==true)
  {
  jQuery("#lib{{ library.name }}").submit();
  }
else
  {
  x="!";
  }
}

$(document).ready(function() {
  jQuery("#show{{ library.name|replace(" ", "_") }}").hide();
  jQuery("#showa{{ library.name|replace(" ", "_") }}").hide();
$('#lib{{library.id}}').click(function() {
warningDialog();
});
$('#edit{{library.id}}').click(function() {
jQuery("#show{{ library.name|replace(" ", "_") }}").toggle();
jQuery("#showa{{ library.name|replace(" ", "_") }}").toggle();
});
});
</script>
            <form action="/admindelete" class='form form-inline' id="lib{{library.name}}" method="post">
              <input type="hidden" name="no" value="{{library.id}}">
              <input type="hidden" name="table" value="libraries">
                {{library.name}}
                <a name="delete" href=# title="Delete" class='popup' id='lib{{library.id}}'><i class='icon-trash icon-large'></i></a>&nbsp;&nbsp;&nbsp;
              <a href='javascript:void(0)' id='edit{{library.id}}' title="Edit" class='popup'><i class='icon-wrench icon-large'></i></a>
            </form>
            <form action="/library" id="edit{{library.name}}" class='form form-inline' method="post">
              <input type="hidden" name="no" value="{{library.id}}">
              <input type="hidden" value='False' name="new_library">
              <input type="text" name="library" id='show{{ library.name|replace(" ", "_") }}' value="{{library.name}}">
              <input name="save" type="submit" value="Save" id='showa{{ library.name|replace(" ", "_") }}' class="btn btn-success" />
            </form>
            {%endfor%}

      </div>
      <div class='row-fluid'>
      <div class="header row-fluid">
              <h3>New User</h3>
      </div>
      <div class='row-fluid'>
          <br/>
            <span><a data-toggle="modal" href="#new_message" class="btn pull-left">New User</a></span>
      </div>
      </div>
      <div class='row-fluid'>
      <div class="header row-fluid">
              <h3>Import from Gimlet</h3>
      </div>
              <p><form enctype='multipart/form-data' action='/upload' method='post'>
          <input type='file' name='file'>
          <input type='submit' value='Upload'></p>
      </form>
      </div>
      </div>
    </div>
    </div>
  </div></div>
  {%endblock%}
