{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='daterange/bootstrap-datepicker.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='Loadingdotdotdot/js/jquery.loadingdotdotdot.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jqplot/jquery.jqplot.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jqplot/plugins/jqplot.dateAxisRenderer.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jqplot/plugins/jqplot.canvasTextRenderer.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jqplot/plugins/jqplot.categoryAxisRenderer.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jqplot/plugins/jqplot.pieRenderer.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='daterange/bootstrap-datepicker.js')}}"></script>

<script type="text/javascript">
var categories = []
var today = '{{today}}'
var makeChartImage = function(location){
    var graphicImage = $('#' + location);
    // if(graphicImage.html() == ""){ //If the image was even generated, don't generate it again
    var divGraph = $('#' + location).jqplotToImageStr({});
    var divElem  = $('<img/>').attr('src', divGraph);
    // $('#' + location).empty();
    graphicImage.html(divElem);
};
$.fn.appendAttr = function(attrName, suffix) {
    this.attr(attrName, function(i, val) {
        return val + suffix;
    });
    return this;
  };
jQuery(document).ready(function() {

    $('#reportrange').datepicker({
        noOffset: false,
    });
    $('#reportrange2').datepicker({
        noOffset: false,
    });
    $('#charting').click(function() {
        $("#chart_format").attr("action", "{{ url_for('charts')}}");
        $("#chart_format").submit();
    });
    $('#CSV').click(function() {
        $("#chart_format").attr("action", "/data");
        $("#chart_format").submit();
    });
});
</script>
<div class="row-fluid">
<div class="header">
    <h3>Charts</h3>
</div>
<p></p>
    <div class="pull-right">
        <form action="{{ url_for('charts') }}" class="form-inline" id="chart_format" method="post">
            <div> <i class="icon-calendar icon-large"></i>
                <label>Show data from:</label>
                <input id="reportrange" value='{{start_date}}' name="start_date">
                <label>To:</label>
                <input id="reportrange2" value='{{end_date}}' name="end_date">
                <input id="library_id" value='{{the_library_id}}' name="the_library_id" type='hidden'>
                <input name="save" type="submit" value="Chart!" id='charting' class="btn btn-primary" />
                <input name="download" type="submit" value="Save as CSV" id='CSV' class="btn btn-search" />
            </div>
        </form>
    </div>
</div>
<div id="chart"></div>
<div class='randomArea'></div>

<script class="code" type="text/javascript">

        $(document).ready(function(){
           $.getJSON('/jchartevents/{{ the_library }}/{{ start_date|default('1900-01-01') }}/{{end_date|default('2101-01-01') }}',function (data) {
               $.jqplot('chart', [data.output], {
                    title:'Questions Asked',
                    axes:{
                        xaxis:{
                            // min:'{{start_date}}',
                            // max:'{{end_date}}',
                            renderer:$.jqplot.DateAxisRenderer,
                            tickOptions:{formatString:'%b %#d'},
                        }
                    },
                    series:[{
                        lineWidth:2,
                        markerOptions:{style:'diamond',size:10},
                        rendererOptions: {
                            smooth: true
                        }
                    }]
                });
            });
           setTimeout(function(){makeChartImage('chart')},3000);
           $.getJSON('/jchartweekly/{{ the_library }}/{{ start_date|default('1900-01-01') }}/{{end_date|default('2101-01-01') }}',function (data) {
             $.jqplot('weekchart', [data.output], {
                   title:'Average, Weekly',
                   axes:{
                       xaxis:{
                           renderer: $.jqplot.CategoryAxisRenderer,
                       }
                   },
                   series:[{
                       lineWidth:2,
                       markerOptions:{style:'diamond',size:10},
                       rendererOptions: {
                           smooth: true
                       }
                   }]
               });
           });
            setTimeout(function(){makeChartImage('weekchart')},3000);
           $.getJSON('/jcharthourly/{{ the_library }}/{{ start_date|default('1900-01-01') }}/{{end_date|default('2101-01-01') }}/' + today,function (data) {
           the_plot = $.jqplot('hourchart', [data.output], {
                 title:'Average for {{today}}s',
                   axes:{
                       xaxis:{
                           renderer: $.jqplot.CategoryAxisRenderer,
                       }
                   },
                   series:[{
                       lineWidth:2,
                       markerOptions:{style:'diamond',size:10},
                       rendererOptions: {
                           smooth: true
                       }
                   }]
               });
           setTimeout(function(){makeChartImage('hourchart')},3000);
            });
           $("#change_day").change(function(){
               today = $('#change_day').val();
               $.getJSON('/jcharthourly/{{ the_library }}/{{ start_date|default('1900-01-01') }}/{{end_date|default('2101-01-01') }}/' + today,function (data) {
               the_plot = $.jqplot('hourchart', [data.output], {
                     title:'Average for ' + today + 's',
                       axes:{
                           xaxis:{
                               renderer: $.jqplot.CategoryAxisRenderer,
                           }
                       },
                       series:[{
                           lineWidth:2,
                           markerOptions:{style:'diamond',size:10},
                           rendererOptions: {
                               smooth: true
                           }
                       }]
                   });
                });
                 $('#hourchart').empty();
                 setTimeout(function(){makeChartImage('hourchart')},3000);
           });
       });
</script>

<div id='weekchart'></div>
<div id='hourchart'></div>
<div class=row-fluid>
<select id='change_day' class='pull-right'>
{% for day in weekdays %}
{% if day == today %}
<option value='{{ day }}' selected=selected>{{day}}</option>
{%else%}
<option value='{{ day }}'>{{day}}</option>
{%endif%}
{% endfor %}
</select>
</div>
<p></p>
<div class='row'>
    {%for subject in chooser %}
        {% if subject.metatag == False %}
        {% for library in subject.libraries %}
            {% if the_library == library.name %}
<script type="text/javascript">
    categories.push({
      library: "{{the_library}}",
      subjectId: "{{subject.id}}",
      subjectName: "{{subject.name}}",
      startDate: "{{ start_date|default('1900-01-01') }}",
      endDate: "{{end_date|default('2101-01-01') }}",
      divLocation: "chart{{subject.id}}"
    });
</script>

<div class='chart{{ subject.id }} span4' id='totals{{ subject.id }}'>
  <!-- <span class='span4' ></span> -->
    <div id='chart{{subject.id}}'></div>
  <!-- </div> -->
</div>
  {% endif %}
{% endfor %}
{% endif %}
{% endfor %}

<script type="text/javascript">
jQuery(document).ready(function() {
    console.log(categories);
  $.each(categories, function() {
    var name = this.subjectName;
    var id = this.subjectId;
    var library = this.library;
    var startDate = this.startDate;
    var endDate = this.endDate;
    var divLocation = this.divLocation;
    // $("#chart" + id).Loadingdotdotdot({
    //                 "speed": 400,
    //                 "maxDots": 4
    //             });

        $.getJSON('/jchartpie/' + library + '/' + id + '/' + startDate + '/' + endDate,function (newdata) {
                   $('#' + divLocation).jqplot([newdata.output],
                    {
                        title:'By ' + name,
                        seriesDefaults: {
                    // Make this a pie chart.
                        renderer: jQuery.jqplot.PieRenderer,
                        rendererOptions: {
                    // Put data labels on the pie slices.
                    // By default, labels show the percentage of the slice.
                        showDataLabels: true,
                        fill: true,
                                    }
                                },
                    legend: { show:true,
                        location: 'e',
                        fontSize: 10,
                        /*placement: 'outside',*/
                        rendererOptions: {
                    /*numberRows: 4*/
                        },
                         }
                    });
                  var $totals = $('#totals' + id);
                  var theTotal = {choices: []};
                  $totals.attr('title', 'Totals:')
                  $.each(newdata.output, function() {
                    var choice = this[0];
                    var number = this[1];
                    theTotal.choices.push({'choice': choice, 'number': number})
                    console.log(choice);
                    console.log(number);
                    // $totals.append('<p>' + choice + ': ' + number + '</p>');
                    $($totals).appendAttr('title', "\n"+choice + ': ' + number )
                  });
                  // var thisChart = $("#chart" + id);
                  // thisChart.Loadingdotdotdot("Stop");
                  // thisChart.remove();
                });
            setTimeout(function(){makeChartImage('chart' + id)},2000);
  });

});
</script>
</div>
{% endblock %}
